@font-face {
    font-family: "Gowun batang";
    src: url(../FONTS/GowunBatang-Regular.ttf);
    font-family: "Dancing Script";
    src: url(../Fuentes/DancingScript-VariableFont_wght.ttf);
    font-family: "Arima";
    src: url(../Fuentes/Arima-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Gowun batang";
    src: url(../FONTS/GowunBatang-Regular.ttf);
    color: #222;
    font-size: 18px;
}

html {
    background-color: rgba(255, 255, 255, 0.5);
}

/*-------------------------------------------------------------------------Encabezado de pag------------------------------------------------------------------------------------------------------------------------------------*/
.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    position: sticky;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
    top: 0;
}

.encabezado a img {
    height: 50px;
    width: 60px;
    border-radius: 30px;
}

.Imagen-Logo {
    width: 30%;
    height: 50px;
    padding-left: 70px;
}

.encabezado nav a {
    color: #222;
    text-decoration: none;
    /*Para quitar el subrayado*/
    width: 30px;
    padding: 2px;
}

/*----------------------------------------------------------------------------Cuerpo de pag--------------------------------------------------------------------------------------------------------*/
.cuerpo {
    padding-bottom: 50px;
}

/*---------------------------------------------------------------------------Mapa de Ubicacion------------------------------------------------------------------------------------------------*/
.Mapa {
    width: 100%;
}

/*-------------------------------------------------------------------------Portada de pag principal------------------------------------------------------------------------------------------------------------*/
.Portada {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 500px;
}

/*--------------------------------------------------------------------Botones de redireccionamiento de pag principal--------------------------------------------------------------------------------------------------------------*/
.Botones {
    display: flex;
    gap: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.Boton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border-style: none;
    width: 50%;
    height: 320px;
    background-size: cover;
    text-decoration: none;
    color: white;
}

.Desc {
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0px 30px;
    font-size: 45px;
}

/*---------------------------------------------------------------------Descripcion de pag principal--------------------------------------------------------------------------------------------------*/
.Descripcion {
    display: flex;
    align-items: center;
    border-radius: 30px;
    width: 98.4%;
    height: 600px;
    background-image: url(../Imagenes/Descripcion.jpg);
    background-size: cover;
    padding-left: 10px;
    margin-left: 10px;
}

.Descripcion p {
    align-items: center;
    justify-content: center;
    display: block;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 50%;
    font-size: 50px;
    padding-left: 10px;
}

/*--------------------------------------------------------------------------Seccion noticias-----------------------------------------------------------------------------------------------*/
.cuerpo h1 {
    text-align: center;
    margin: 5%;
    font-size: 75px;
    color: black;
    font-family: Arima;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.Botones_Noticias {
    display: flex;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.Boton_Noticia {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border-style: none;
    width: 50%;
    height: 400px;
    background-size: cover;
    text-decoration: none;
    color: white;
}

.Text_Noticia {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    font-size: 50px;
}


/*-----------------------------------------------------------------------Formulario de reservar turno---------------------------------------------------------------------------------------------------------------*/
.contenido-principal {
    background-color: #86868B;
}

.contenido-principal section {
    padding: 0 10%;
}

.contenido-principal h1 {
    text-align: center;
    margin: 5% 0;
}

.contenido-principal img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    background-position: center center;
}

.formulario-contacto {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;

}

.formulario-contacto input {
    padding: 5px 10px;
    font-size: inherit;
    margin-bottom: 15px;

}

.formulario-contacto textarea {
    font-family: inherit;
    font-size: inherit;
    min-height: 250px;
    min-width: 100%;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.formulario-contacto button {
    padding: 10px;
    margin: 15px 0;
    font-size: inherit;
}

/*----------------------------------------------------------------------------Pag de bocetos-------------------------------------------------------------------------------------------------*/
.Cuerpo-Bocetos{
    flex-grow: 1;
    padding-block: 40px;
    background-color: #fff;
}

.contenedor-Bocetos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.Bocetos{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0px 10px 10px 10px;
    width: 30%;
}

.Bocetos_fig {
    width: 100%;
}
.Bocetos_fig > img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}


.Siguiente-pag {
    display: flex;
    text-align: center;
    padding-bottom: 10px;
    justify-content: center;
    gap: 10px;
}

.Siguiente-pag a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    text-decoration: none;
    background-color: grey;
    color: black;
    border-radius: 30px;
}

/* .Primera-Linea {
    display: flex;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.Primera-Linea img {
    border-radius: 30px;
    border-style: none;
    width: 40%;
    height: 400px;
}

.Segunda-Linea {
    display: flex;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Segunda-Linea img {
    border-radius: 30px;
    border-style: none;
    width: 40%;
    height: 400px;
}

.Tercera-Linea {
    display: flex;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.Tercera-Linea img {
    border-radius: 30px;
    border-style: none;
    width: 40%;
    height: 400px;
}

.Cuerpo-Bocetos button {
    border-radius: 30px;
    border-style: none;
    width: 10%;
    height: 50px;
    background-color: #E5E5E5;
    text-decoration: none;
} */

/*------------------------------------------------------------------------------Pie de pag--------------------------------------------------------------------------------------*/
.pie {
    background-color: #676767;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.pie ul {
    list-style: none;
    justify-content: center;
}

.Informacion {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.Telefono {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    font-family: "Arima";
    src: url(../fuentes/Arima-VariableFont_wght.ttf);
}

.TikToks {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    font-family: "Arima";
    src: url(../fuentes/Arima-VariableFont_wght.ttf);
}

.Youtube {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    font-family: "Arima";
    src: url(../fuentes/Arima-VariableFont_wght.ttf);
}

.Instagram {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    font-family: "Arima";
    src: url(../fuentes/Arima-VariableFont_wght.ttf);
}

.Instagram a {
    text-decoration: none;
    color: black;
}

.Gmail {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: "Arima";
    src: url(../fuentes/Arima-VariableFont_wght.ttf);
}

.Gmail a {
    text-decoration: none;
    color: black;
}

/*--------------------------------------------------------------------------Pag de insumos---------------------------------------------------------------------------------------------------------------------------*/
.cuerpo-insumos{
    flex-grow: 1;
    padding-block: 40px;
    padding-inline: 10%;
    background-color: #fff;
}
.cuerpo__figure {
    width: 100%;
}
.cuerpo__figure > img {
    width: 100%;
    object-fit: contain;
    object-position: center;
}
.cuerpo-cabecera {
    padding-block: 10px;
    margin-block: 10px;
    border-bottom: 2px solid #333;
}
.cuerpo-cabecera__parrafo {
    padding: 10px;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    background-color: #333;
}

.carrito{
    display: flex;
    align-items: center;
    gap: 6px;
}
.boton_carrito{
   background-color: transparent;
   border:none;
   cursor:pointer;
}

dialog form{
    width:95%;
    display:flex;
    justify-content: end;
    align-items: center;
}
dialog form > button{
    width: 10%;
    margin-top: 20px;
    /* height: 50px; */
    background-color: transparent;
    border:none;
    font-size: 20px;
}
dialog.popup-carro{
    position: fixed;
    margin:0;
    inset: unset;
    right:0;
    bottom:0;
    top:0;
    width:50%;
    min-width: 400px;
    min-height:100dvh;
    border:none;
    border-radius: 30px;
}

dialog h2{
    width: 100%;
    padding-left: 50px;
    border-bottom: 2px solid #333;
}

dialog section{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 50px;
}

dialog section ul{
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    /* padding-bottom: 10px; */
}

dialog section div{
    display: flex;
    justify-content: end;
    padding-right: 10px;

}

dialog section ul button{
    justify-content: end;
}

.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
}

.productos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    padding: 10px;
    margin-block-end: 25px;
}
.productos__datos {
    display: block;
    justify-content: space-between;
    align-items: flex-start;
}
.productos__fig {
    width: 60%;
}
.productos__fig > img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.productos__boton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    font-family: inherit;
    font-size: 1rem;
    padding-block: 10px;
    padding-inline: 15px;
    margin-block-start: 15px;
    cursor: pointer;
}
.producto-agregado{
    background-color: #73dbaa;
}

.eliminar-prod{
    border: none;
    background: transparent;
}

/*------------------------------------------------------------------------Pag de piercing----------------------------------------------------------------------------------*/
.cuerpo-piercing{
    flex-grow: 1;
    padding-block: 40px;
    background-color: #fff;
}

.contenedor-piercing{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.piercing{
    padding: 10px 10px 10px 10px;
    width: 25%;
}

.piercing__fig {
    width: 100%;
}
.piercing__fig > img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}


@media(width < 850px) {
/*--------------------------------------------------------------------------Encabezado------------------------------------------------------------------------------------------------------*/
    .encabezado {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
        position: sticky;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(30px);
        top: 0;
    }

    .Imagen-Logo {
        display: none;
    }

    .encabezado a img {
        height: 30px;
        width: 40px;
        border-radius: 30px;
    }

    .encabezado nav a {
        color: #222;
        text-decoration: none;
        width: 5px;
    }

/*----------------------------------------------------------------------------------Portada-------------------------------------------------------------------------------------------------*/    
    .Portada {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 150px;
    }

/*-----------------------------------------------------------------------Botones de redireccionamiento------------------------------------------------------------------------------------------------------*/    
    .Botones {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .Boton {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        border-style: none;
        width: 48.5%;
        height: 150px;
        background-size: cover;
        text-decoration: none;
        color: white;
    }

    .Desc {
        padding: 5px 10px;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 0px 30px;
        font-size: 25px;
    }

/*--------------------------------------------------------------------------Seccion de descripcion------------------------------------------------------------------------------*/    
    .Descripcion {
        display: flex;
        align-items: center;
        border-radius: 30px;
        width: 95%;
        height: 300px;
        background-image: url(../Imagenes/Descripcion.jpg);
        background-size: cover;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
    }

    .Descripcion p {
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        width: 50%;
        font-size: 20px;
        padding-left: 10px;
    }

/*--------------------------------------------------------------------------Seccion de noticias---------------------------------------------------------------------------*/    
    .cuerpo h1 {
        text-align: center;
        margin: 5%;
        font-size: 20px;
        color: black;
        font-family: Dancing Script;
    }

    .Botones_Noticias {
        display: block;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;

    }

    .Boton_Noticia {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        border-style: none;
        width: 100%;
        height: 150px;
        background-size: cover;
        text-decoration: none;
        color: white;
        margin-bottom: 10px;
    }

    .Text_Noticia {
        text-align: center;
        font-size: 40px;
    }

/*-----------------------------------------------------------------------------Pag de bocetos-----------------------------------------------------------------------------------------------*/    
    .Cuerpo-Bocetos {
        display: block;
    }

    .Primera-Linea {
        display: block;
        padding: 0%;
    }

    .Primera-Linea img {
        width: 100%;
        height: 500px;
        padding: 10px;
    }

    .Segunda-Linea {
        display: block;
        padding: 0%;
    }

    .Segunda-Linea img {
        width: 100%;
        height: 500px;
        padding: 10px;
    }

    .Tercera-Linea {
        display: block;
        padding: 0%;
    }

    .Tercera-Linea img {
        width: 100%;
        height: 500px;
        padding: 10px;
    }

    .Cuerpo-Bocetos button {
        border-radius: 30px;
        border-style: none;
        width: 20%;
        height: 50px;
        background-color: #E5E5E5;
        text-decoration: none;
    }

    .Siguiente-pag {
        display: flex;
        text-align: center;
        padding-bottom: 10px;
        justify-content: center;
        gap: 10px;
    }
    
    .Siguiente-pag a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 40px;
        text-decoration: none;
        background-color: grey;
        color: black;
        border-radius: 30px;
    }

/*------------------------------------------------------------------------------Pie de pag------------------------------------------------------------------------------------------*/
    
    .pie {
        background-color: #676767;
        display: flex;
        justify-content: center;
        padding: 15px;
        font-size: 10px;
    }

    .pie ul {
        list-style: none;
        justify-content: center;
    }

    .Informacion {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }

    .Telefono {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    }

    .TikToks {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    }

    .Youtube {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    }

    .Instagram {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    }

    .Gmail {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    }

    .Trabaja {
        font-size: 15px;
    }

    /*--------------------------------------------------------------------------Pag de insumos-----------------------------------------------------------------------------------------------*/

    .cuerpo-insumos{
        flex-grow: 1;
        padding-block: 40px;
        padding-inline: 10%;
        background-color: #fff;
    }

    .cuerpo__figure {
        width: 100%;
    }

    .cuerpo__figure > img {
        width: 100%;
        object-fit: contain;
        object-position: center;
    }

    .cuerpo-cabecera {
        padding-block: 10px;
        margin-block: 10px;
        border-bottom: 2px solid #333;
    }

    .cuerpo-cabecera__parrafo {
        padding: 10px;
        color: #fff;
        font-size: 1.3rem;
        text-align: center;
        background-color: #333;
    }
    
    .carrito{
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .boton_carrito{
       background-color: transparent;
       border:none;
       cursor:pointer;
    }

    dialog form{
        width: 95%;
        display:flex;
        justify-content: end;
        align-items: center;
    }

    dialog form > button{
        width: 15%;
        margin-top: 20px;
        /* height: 50px; */
        background-color: transparent;
        border:none;
        font-size: 20px;
    }

    dialog.popup-carro{
        position: fixed;
        margin:0;
        inset: unset;
        right:0;
        bottom:0;
        top:0;
        width:50%;
        min-width: 150px;
        min-height:100dvh;
        border:none;
        border-radius: 30px;
    }
    
    dialog h2{
        font-size: 15px;
        width: 100%;
        padding-left: 20px;
        border-bottom: 2px solid #333;
    }
    
    dialog section{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 10px;
    }
    
    dialog section ul{
        font-size: 13px;
        list-style: none;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        /* padding-bottom: 10px; */
    }
    
    dialog section div{
        display: flex;
        justify-content: end;
        padding-right: 10px;
    }
    
    dialog section ul button{
        justify-content: end;
    }
    
    .contenedor-productos {
        display: flex;
        flex-wrap: wrap;
    }
    
    .productos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        padding: 10px;
        margin-block-end: 25px;
    }

    .productos__datos {
        display: block;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 15px;
    }

    .productos__fig {
        width: 100%;
    }

    .productos__fig > img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .productos__boton {
        display: flex;
        justify-content: center;
        align-items: center;
        color: inherit;
        font-family: inherit;
        font-size: 1rem;
        padding-block: 10px;
        padding-inline: 15px;
        margin-block-start: 15px;
        cursor: pointer;
        width: 100%;
        height: 50px;
    }

    .producto-agregado{
        background-color: #73dbaa;
    }
    
    .eliminar-prod{
        border: none;
        background: transparent;
    }

/*------------------------------------------------------------------------Pag de piercing----------------------------------------------------------------------------------*/
.cuerpo-piercing{
    flex-grow: 1;
    padding-block: 40px;
    background-color: #fff;
}

.contenedor-piercing{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.piercing{
    padding: 10px 10px 10px 10px;
    width: 50%;
}

.piercing__fig {
    width: 100%;
}
.piercing__fig > img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
}